.btn {
  white-space: normal;
  transition: 0.3s ease-out;
  @include media-breakpoint-down(xs) {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    white-space: normal;
  }
}
.btn-primary {
  text-transform: uppercase;
  background-color: $color2;
  border: none;
  &:hover {
    background-color: $color-dark-2;
  }
}
.btn-secondary {
  text-transform: uppercase;
  background-color: $color1;
  border: none;
  &:hover {
    background-color: $color-dark-1;
  }
}
.btn-outline-primary {
  padding-top: 4px;
  padding-bottom: 4px;
  color: $color2;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $color2;
  outline: none;
  &:hover {
    background-color: $color2;
    border-color: $color2;
  }
}
.btn-rounded {
  border-radius: 30px;
}
.btn-accented {
  min-width: 200px;
  color: $white;
  background-color: $color2;
}
.btn-table {
  width: 100%;
  min-height: 52px;
  border-top: 1px solid $table-border-color;
  border-radius: 0;
  &:hover {
    border-top: 1px solid $table-border-color;
  }
}