.content-light {
  color: $white;
}
.contact-section {
  padding: 16px 0;
}

.content-quote {
  margin-bottom: 5px;
}
.content-quote-author {
  margin-bottom: 40px;
  font-size: 18px;
}

.cta-broker {
  margin-bottom: 40px;
}
.logo {
  width: 100%;
  height: auto;
  max-width: 260px;
}
.block-list-container {
  padding: 30px 48px 35px;
  margin: 0;
  background-color: $white;
  box-shadow: 2px 2px 20px -5px #000000;
  border-radius: 10px;
  @include media-breakpoint-down(sm) {
    padding: 30px 35px 35px;
  }
  .block-list {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
  .block-list-item {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-bottom: 25px;
    &:after {
      position: absolute;
      right: 0;
      bottom: -8px;
      left: 0;
      display: block;
      content: '';
      border-bottom: 2px solid #f5f5f5;
    }
    .block-list-item-right-text {
      margin-left: 10px;
    }
    .custom-control-label {
      text-align: left;
    }
  }
  .block-list-item-inline {
    display: inline-block;
    margin: 0 5px;
    &:after {
      content: none;
    }
  }
}

.block-list-container-small {
  padding: 16px 40px 16px;
  .block-list {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.list-primary {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 20px 0;
  .list-primary-item {
    position: relative;
    flex: 1 30% 10%;
    display: flex;
    padding: 5px 10px;
    margin: 0 10px 15px;
    text-align: center;
    list-style-type: none;
  }
}
.content-section {
  position: relative;
  z-index: 10;
  .waveWrapper {
    top: 40%;
    transform: rotate(160deg);
  }
}