.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $color2;
}
.custom-control-without-checkbox {
  padding: 0;
  .custom-control-label {
    &:before {
      content: none;
    }
  }
}
.link-primary {
  color: $color2;
  font-size: inherit;
  text-decoration: none;
  &:hover {
    color: $color-dark-2;
  }
}