.footer {
  position: relative;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -1;
  display: flex;
  padding: 40px 0 32px;
  overflow: hidden;
  background-color: $white;
  .waveWrapper {
    right: -45%;
    left: 45%;
    @include media-breakpoint-down(md) {
      right: -100%;
      bottom: -100%;
      left: -100%;
    }
  }
  .logo {
    width: 100%;
    height: auto;
  }
  .social-butons {
    align-items: center;
    flex-direction: row;
    display: flex;
    padding: 0;
    margin-top: 35px;
    list-style-type: none;
    a {
      padding: 10px;
    }
    .social-butons-icon {
      color: $color1;
      font-size: 24px;
      transition: 0.3s ease-out;
      &:hover {
        color: $color-dark-1;
      }
    }
  }
  .footer-list {
    padding: 0;
    margin: 0;
    .footer-list-link {
      display: inline-block;
      color: $secondary-color-text;
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
    }
  }
  .label-list {
    align-items: center;
    padding-left: 0;
    margin-bottom: 50px;
    list-style-type: none;
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
    .label-list-item {
      max-height: 170px;
      @include media-breakpoint-up(sm) {
        max-width: 100%;
      }
      @include media-breakpoint-only(md) {
        max-height: 150px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 80%;
        max-height: 130px;
        margin-bottom: 30px;
      }
    }
  }
  .copyright {
    margin-top: 32px;
    color: $secondary-color-text;
    text-align: center;
  }
}