//header
.header {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  padding: 0;
  .jumbotron {
    z-index: 5;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
  }
  .header-phone {
    position: absolute;
    top: -65%;
    left: 10%;
    width: 500px;
  }
  h1 {
    margin-bottom: 24px;
  }
  h3 {
    margin-bottom: 16px;
  }
}