.navbar-top {
  padding: 16px 0 0;
  .logo {
    width: 100%;
    height: auto;
    max-width: 260px;
  }
  .nav {
    align-items: center;
    height: 100%;
  }
  .nav-link {
    color: $main-color-text;
    transition: 0.3s ease-out;
    &:hover {
      color: $color2;
    }
  }
  .nav-link-accented {
    color: $white;
    background-color: $color3;
    border-radius: 15px;
    &:hover {
      background-color: transparent;
    }
  }
}