.pricing-section {
  position: relative;
  padding: 24px 0;
  .title {
    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }
  table {
    border-collapse: separate;
    border-spacing: 5px 0;
    empty-cells: hide;
    caption {
      caption-side: top;
    }
    colgroup {
      width: 100%;
      @include media-breakpoint-down(xs) {
        display: none;
      }
      col {
        width: 40%;
        @media screen and (max-width: 1000px) {
          width: 40%;
        }
        @media screen and (max-width: 785px) {
          width: 30%;
        }
        &:nth-of-type(2), &:nth-of-type(3) {
          width: 30%;
          @media screen and (max-width: 785px) {
            width: 35%;
          }
        }
      }
    }
    .btn {
      min-width: 80%;
      margin: 10px 0;
    }
  }
  td {
    min-width: 250px;
    padding: 10px 20px;
    color: $table-color-text;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    word-spacing: 1px;
    @media screen and (max-width: 800px) {
      min-width: 50px;
    }
  }
  .plan-feature {
    min-width: 210px;
    font-size: 14px;
    text-align: left;
    background-color: #f8f8f9;
    border-left: 1px solid $table-border-color;
    @media screen and (max-width: 768px) {
      min-width: 80px;
    }
    @include media-breakpoint-down(xs) {
      z-index: 15;
      min-width: 180px;
    }
  }
  .plan-header {
    border-bottom: 1px solid $table-border-color;
    th {
      padding: 10px 20px;
      border: none;
      @include media-breakpoint-down(xs) {
        padding: 5px 10px;
      }
      &:nth-of-type(1) {
        vertical-align: middle;
      }
    }
  }
  .plan-header-title {
    color: $color2;
    font-size: 20px;
    font-weight: 400;
  }
  .plan-header-col {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: $white;
    background-image: url(../images/plan-pro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px 8px 0 0;
    transition: 0.3s ease-out;
    &:nth-of-type(2) {
      background-image: url(../images/plan-basic.png);
    }
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -0;
      content: '';
      background-color: #7bd3ff54;
      box-shadow: inset 0 0 200px 20px #223a4696;
    }
    @media screen and (max-width: 1000px) {
      text-align: center;
    }
    @include media-breakpoint-down(xs) {
      text-align: center;
      background-color: $color2;
      background-image: none;
      &:nth-of-type(2) {
        background-image: none;
      }
    }
  }
  .plan-header-item {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 3;
    display: flex;
    min-height: 200px;
    @include media-breakpoint-down(xs) {
      min-height: auto;
    }
  }
  .plan-name {
    position: relative;
    z-index: 3;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }
  }
  .plan-price {
    position: relative;
    color: $white;
    font-size: 36px;
    font-weight: 400;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
    sup {
      top: -10px;
      padding: 0 5px;
      font-size: 20px;
      font-weight: 500;
      @include media-breakpoint-down(sm) {
        top: -5px;
        font-size: 18px;
      }
    }
    .plan-sale {
      position: absolute;
      top: -10px;
      right: -29px;
      padding: 3px 5px;
      color: $main-color-text;
      background-color: $color3;
      border-radius: 8px;
    }
  }
  .plan-price-small {
    color: $white;
    font-size: 18px;
    @media screen and (max-width: 970px) {
      font-size: 16px;
    }
    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
    sup {
      top: -4px;
      padding: 0 2px;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .plan-sale {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }
  .plan-row {
    background-color: $white;
    transition: 0.3s ease-out;
    &:hover {
      background-color: #f8f8f9;
    }
    &:last-of-type {
      .plan-feature {
        border-bottom: 1px solid $table-border-color;
      }
    }
    td {
      vertical-align: middle;
      border-right: 1px solid $table-border-color;
      border-left: 1px solid $table-border-color;
    }
    .plan-td-note {
      font-size: 12px;
      text-align: left;
      border-width: 0;
      &:hover {
        background-color: $white;
      }
    }
  }

  .plan-row-action {
    background-color: $white;
    &:hover {
      background-color: $white;
    }
  }
  .plan-td-action {
    padding: 24px;
    border-bottom: 1px solid $table-border-color;
    border-radius: 0 0 8px 8px;
    @include media-breakpoint-down(xs) {
      padding: 5px 10px;
    }
  }
  .plan-yes-icon {
    color: $color1;
    font-size: 22px;
  }
  .content-text-small {
    color: $table-color-text;
  }
  .plan-switcher-btn {
    transition: 0.3s ease-out;
    &:active, &:active:not(:disabled):not(.disabled) {
      background-color: $color-dark-2;
      border-right-color: $color-dark-2;
    }
  }
  //table change plan
  .table-separated {
    colgroup {
      col {
        &:nth-of-type(1) {
          width: 20%;
        }
      }
    }
  }
  .plan-header-col.plan-header-col-separated, .plan-td-action-separated {
    padding: 0;
    overflow: hidden;
    background-color: $white;
    background-image: none;
    border-top: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
    &:before {
      content: none;
    }
    .plan-name {
      color: $color2;
    }
  }
  .plan-td-action-separated {
    overflow: hidden;
    background-color: $white;
    border-top: none;
  }
  .plan-header-container, .plan-td-action-container {
    flex-direction: row;
    display: flex;
    border-top: 1px solid $table-border-color;
    @media screen and (max-width: 890px) {
      flex-direction: column;
    }
    .plan-header-item, .plan-td-action-item {
      flex: 1;
      padding: 10px;
      background-color: $white;
      &:nth-of-type(1) {
        border-right: 1px solid $table-border-color;
        @media screen and (max-width: 890px) {
          border-right: 0;
          border-bottom: 1px solid $table-border-color;
        }
      }
    }
    .plan-header-item {
      min-height: 170px;
      @media screen and (max-width: 890px) {
        min-height: 150px;
      }
      @media screen and (max-width: 380px) {
        min-height: 160px;
      }
      @media screen and (max-width: 355px) {
        min-height: 180px;
      }
      @media screen and (max-width: 330px) {
        min-height: 190px;
      }
      @media screen and (max-width: 320px) {
        min-height: 200px;
      }
    }
    .plan-current-label {
      margin-bottom: 10px;
      color: $color1;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      word-spacing: 1px;
    }
    .plan-name-small {
      color: $main-color-text;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
    }
    .plan-sale {
      margin-bottom: 10px;
      color: $color2;
    }
    .plan-price {
      color: $main-color-text;
      font-size: 24px;
      @media screen and (max-width: 380px) {
        font-size: 20px;
      }
      sup {
        top: -6px;
        padding: 0 2px;
        @media screen and (max-width: 380px) {
          top: -4px;
        }
      }
    }
    .plan-price-offset {
      margin-bottom: 31px;
    }
    .btn {
      font-size: 14px;
      @media screen and (max-width: 1010px) {
        font-size: 12px;
      }
      @media screen and (max-width: 950px) {
        max-width: 90%;
      }
      @media screen and (max-width: 890px) {
        margin: 5px 0;
      }
    }
  }
}
//switch plan
.plan-switch-container {
  display: none;
  width: 100%;
  margin-bottom: 20px;
  @include media-breakpoint-down(xs) {
    display: inline-flex;
  }
  .plan-switcher-btn {
    width: 50%;
    background-color: $color2;
    box-shadow: none;
    border: 0;
  }
  .plan-switcher-btn-active {
    background-color: $color-dark-2;
  }
}
.pricing-wrap {
  position: relative;
  margin: 0 15%;
  background-color: transparent;
  box-shadow: 0 0 0 #000000;
  @media screen and (max-width: 1380px) {
    margin: 0 10%;
  }
  @media screen and (max-width: 1210px) {
    margin: 0 5%;
  }
  @media screen and (max-width: 1050px) {
    margin: 0;
  }
}
.pricing-wrap-margins {
  @media screen and (max-width: 1430px) {
    margin: 0 10%;
  }
  @media screen and (max-width: 1380px) {
    margin: 0 8%;
  }
  @media screen and (max-width: 1210px) {
    margin: 0 6%;
  }
  @media screen and (max-width: 1150px) {
    margin: 0 4%;
  }
  @media screen and (max-width: 1100px) {
    margin: 0;
  }
}
.table-title {
  td {
    border: 0;
  }
}
.table-responsive-md {
  position: relative;
  scroll-behavior: smooth;
}
@keyframes scrollIcon {
  from {
    transform: translateX(100px);
  }
}
.table-fixed-left-column {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: auto;
  overflow: auto;
  table {
    width: 100%;
    margin: auto;
    @include media-breakpoint-down(sm) {
      border-spacing: 1px 0;
      table-layout: fixed;
    }
    @include media-breakpoint-down(xs) {
      width: 143%;
      border-spacing: 1px 0;
      table-layout: fixed;
    }
  }
  td, th {
    @include media-breakpoint-down(xs) {
      &:first-of-type {
        position: sticky;
        left: 0;
        z-index: 10;
        width: 40%;
        background-color: $white;
        &.plan-feature {
          background-color: #f8f8f9;
        }
      }
    }
  }
}