.plan-card {
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  display: flex;
  padding: 25px 15px 30px;
  text-align: center;
  background-color: $white;
  box-shadow: 2px 2px 20px -5px #000000;
  border-radius: 10px;
  @include media-breakpoint-up(md) {
    height: 100%;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
  .plan-card-price-container {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    @media screen and (min-width: 768px) and (max-width: 1150px) {
      flex-direction: column;
      justify-content: flex-start;
    }
    @media screen and (max-width: 420px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .plan-card-name {
    margin-bottom: 15px;
  }
  .plan-card-price {
    margin-bottom: 20px;
    @media screen and (max-width: 1150px) {
      margin-bottom: 5px;
    }
  }
  .plan-card-price-plus {
    padding: 10px;
    @media screen and (min-width: 768px) and (max-width: 1150px) {
      padding: 0;
    }
  }
  .plan-card-price-small {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  }
  .btn {
    margin-top: 10px;
    @media screen and (min-width: 768px) and (max-width: 840px) {
      font-size: 14px;
    }
  }
}
.plan-card-width {
  width: 95%;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
.plan-cards {
  padding: 10px 0;
  margin-bottom: 50px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }
  .col-lg-4 {
    @media screen and (min-width: 1160px) {
      padding: 0 3%;
    }
  }
  .plan-card-right {
    @media screen and (min-width: 768px) {
      margin-left: 0;
    }
  }
}