.title, h1, h2, h3, h4, h5, h6, p {
  color: $main-color-text;
  font-family: $font-primary;
}

h1 {
  margin-bottom: 50px;
  font-size: 48px;
  letter-spacing: -0.5px;
  word-spacing: 1px;
}
h2 {
  margin-bottom: 10px;
  font-size: 36px;
}
h3 {
  margin-bottom: 16px;
  font-size: 28px;
  word-spacing: 2px;
}
h4 {
  margin-bottom: 27px;
  font-size: 24px;
  word-spacing: 2px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
.text-bold {
  font-weight: 700;
}
.text-normal {
  font-weight: 400;
}
.text-light-weight {
  font-weight: 300;
  color: $main-color-text;
}

.text-large {
  font-size: 28px;
}
.text-middle {
  font-size: 24px;
  line-height: 140%;
}
.text-small {
  font-size: 18px;
}
.subtitle {
  font-size: 36px;
}

.content-text {
  margin-bottom: 0;
  color: $main-color-text;
  font-family: $font-primary;
  font-size: 22px;
  line-height: 176%;
}
.content-text-small {
  font-size: 12px;
}
.text-accented {
  color: $color2;
}
.text-accented-secondary {
  color: $color1;
}