//waves
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  position: absolute;
  top: 30%;
  right: -15%;
  bottom: 0;
  left: -15%;
  z-index: 0;
  height: 250px;
  margin: auto;
  transform: rotate(155deg);
  @include media-breakpoint-down(sm){
    right: -100%;
    left: -100%;
  }
}
.waveWrapperInner {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-wave-one {
  z-index: 15;
}
.bg-wave-two {
  z-index: 10;
}
.bg-wave-three {
  z-index: 5;
}
.bg-wave-four {
  z-index: 20;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveAnimation .wave-one {
  background-image: url(../images/green-line-thicker.png);
  background-size: 50% 100%;
  animation: move_wave  10s linear infinite;
}
.waveAnimation .wave-two {
  background-image: url(../images/orange-line-thicker.png);
  background-size: 50% 100%;
  animation: move_wave 15s linear infinite;
}
.waveAnimation .wave-three {
  background-image: url(../images/yellow-line-thicker.png);
  background-size: 50% 100%;
  animation: move_wave 25s linear infinite;
}
.waveAnimation .wave-four {
  background-image: url(../images/blue-line-thicker.png);
  background-size: 50% 100%;
  animation: move_wave 20s linear infinite;
}

.waveWrapper.no-animate{
  .wave-one {
    animation: none;
  }
  .wave-two {
    animation: none;
  }
  .wave-three {
    animation: none;
  }
  .wave-four {
    animation: none;
  }
  .bg-wave-one {
    top: 0;
  }
  .bg-wave-two {
    top: 50px;
    left: 50px;
  }
  .bg-wave-three {
    top: 50px;
    right: 50px;
  }
  .bg-wave-four {
    top: 60px;
    right: 100px;
  }
}