body {
  overflow-x: visible;
}
h2.sg{
  margin-top: 50px;
}
button{
  margin-bottom: 10px;
}
code{
  margin-bottom: 20px;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 10px;
}
@import 'variables';
.color-box{
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.main-color{
  background-color: $color1;
  &:nth-of-type(2){
    background-color: $color2;
  }
  &:nth-of-type(3){
    background-color: $color3;
  }
}
.muted-color{
  background-color: $color-muted-1;
  &:nth-of-type(2){
    background-color: $color-muted-2;
  }
  &:nth-of-type(3){
    background-color: $color-muted-3;
  }
}
.dark-color{
  background-color: $color-dark-1;
  &:nth-of-type(2){
    background-color: $color-dark-2;
  }
  &:nth-of-type(3){
    background-color: $color-dark-3;
  }
}
.wave-container{
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
}