@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/_utilities.scss';
@import 'variables';
@import 'components/texts';
@import 'components/button';
@import 'components/controls';
@import 'components/navbar';
@import 'components/header';
@import 'components/content';
@import 'components/plans';
@import 'components/footer';
@import 'components/waves';
@import 'components/plan-card';

html{
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: $font-primary;
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1440px;
}
.hidden-mobile{
  @include media-breakpoint-down(xs){
    display: none;
  }
}
.visible-mobile{
  display: none;
  @include media-breakpoint-down(xs){
    display: block;
  }
}

