//colors
$background: #ffffff;
$main-color-text: #505050;
$secondary-color-text: #212529;
$table-color-text: #606060;
$caption-color-text: #cccccc;
$table-border-color: #dee2e6;
//main colors
$color1: #2ba297;
$color2: #1e97d3;
$color3: #f7c636;
//muted colors
$color-muted-1: #a2d6d1;
$color-muted-2: #81c5e6;
$color-muted-3: #fce8af;
//dark colors
$color-dark-1: #2b877c;
$color-dark-2: #1d7db9;
$color-dark-3: #e1b331;
//fonts
$font-primary: 'Roboto', sans-serif;